pyTelegramBotAPI==4.25.0
yfinance==0.2.38
pandas==2.2.1
numpy==1.26.4
flask==3.0.0
pytz==2024.1
ta==0.11.0
google-generativeai==0.8.3
python-dotenv==1.0.1
requests==2.31.0
NorenRestApiPy==1.0.3
pyotp==2.9.0
